.work-area{
    width: 100% !important; 
    
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /* margin-top: 10px; */
    width: 100%;
}
td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f1f1f1;
}
tr:hover {
    background: #bfdeff;
    transition: 500ms;
}
tr:first-child {
    background: #fff;
}

td:last-child{
    width: 40%;
}